.user-section {
  padding: 20px 0;
}

.user-section h1 {
  text-align: center;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.select-dropdown {
  margin: 20px;
}

.filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .filter-div h4 {
} */

.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.selected-option {
  margin-top: 8px;
  color: #007bff;
}

@media (max-width: 576px) {
  .card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .card-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 1000px;
  }
}
